@{
    List<Store> st = ViewBag.HRS;
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="mDiv" style="margin-left:7%">
    <h1 style=" font-weight: 600; color: #577492; margin-top:9%"> Highest Rated Stores </h1>
    <div class="row" style="margin-top:4%">
        <div class="col-md-4" style=" color: #67655D; font-size: large; font-weight: 500">
            Store
        </div>
        <div class="col-md-3" style=" color: #67655D; font-size: large; font-weight: 500">
            Rating
        </div>
        <div class="col-md-3" style=" color: #67655D; font-size: large; font-weight: 500">
            Reviews
        </div>
    </div>
    <br />
        @for (var i = 0; i < st.Count; i++)
        {
            int sI = st.ElementAt(i).storeId;
            int mI = st.ElementAt(i).Market.marketId;
            int cI = st.ElementAt(i).Market.City.cityId;
            string sIs = st.ElementAt(i).storeId + "sIs";
            string sIss = st.ElementAt(i).storeId + "sIss";
            string mIs = st.ElementAt(i).Market.marketId + "mIs";
            string cIs = st.ElementAt(i).Market.City.cityId + "cIs";
            <br /> <br />
            <div class="row">
            <div class="col-md-4">
                    <a id="@sIs" style="color:black"> @st.ElementAt(i).storeName  </a>
                    @if (@st.ElementAt(i).verified_unverified == 1)
                    {
                        <img height="20" width="20" src="~/img/verified.jpg" style="margin-left:10px" />
                    }
                    <br />
                    <a id="@mIs" > @st.ElementAt(i).Market.marketName </a>
                    <br /> <a id="@cIs" > @st.ElementAt(i).Market.City.cityName </a>
                </div>
                <div class="col-md-3">
                    @for (var j = 0; j < st.ElementAt(i).storeRating; j++)
                    {
                        <img height="20" width="20" src="~/img/star.png" />
                    }
                    @for (var k = st.ElementAt(i).storeRating; k < 5; k++)
                    {
                        <img height="20" width="20" src="~/img/hollowStar.png" />
                    }
                </div>
                <div class="col-md-3" style="padding-left:3%">
                    <a id="@sIss" > @st.ElementAt(i).totalReviews </a>
                </div>
            </div>
                        <script>
                    $(document).ready(function () {
                        $('#@sIs').click(function () {
                            $('#mDiv').hide();
                            $('#loadPage').empty();
                            $('#loadPage').show();
                            $('#loadPage').load('store/@sI');
                        });

                        $('#@mIs').click(function () {
                            $('#mDiv').hide();
                            $('#loadPage').empty();
                            $('#loadPage').show();
                            $('#loadPage').load('market/@mI');
                        });

                        $('#@cIs').click(function () {
                            $('#mDiv').hide();
                            $('#loadPage').empty();
                            $('#loadPage').show();
                            $('#loadPage').load('city/@cI');
                        });

                        $('#@sIss').click(function () {
                            $('#mDiv').hide();
                            $('#loadPage').empty();
                            $('#loadPage').show();
                            $('#loadPage').load('store/@sI');
                        });

                    });
            </script>
        }
    

</div>
