@{
    List<TagReview> sL = ViewBag.stList;
    int sId = 0;
    if (sL.Count > 0)
    {
        sId = sL.ElementAt(0).TagStore.Id;
    }
    int tagId = ViewBag.tagID;
    int usId = 0;
    if (Session["userIn"] != null)
    {
        User u = (User)(Session["userIn"]);
        usId = u.userId;
    }
    
    //Layout = null;
}

<div id="pP">



    <div>

        <div class="row">

            <div class="col-md-8">
                <div id="rating">

                    <div id="hideThis">
                        @if (Session["userIn"] == null)
                        {
                            <input value="0" id="userII" />
                        }
                        else
                        {
                            <input value="@usId" id="userII" />
                        }
                        <input value="@tagId" id="storeII" />
                    </div>

                    <div>
                        <img id="ss" title="extremely dissatisfied 0/5" height="10" width="30" src="~/img/rating0.png" />
                        <img id="s1" title="somewhat dissatisfied 1/5" height="30" width="30" src="~/img/hollowStar.png" />
                        <img id="s2" title="neither satisfied nor dissatisfied 2/5" height="30" width="30" src="~/img/hollowStar.png" />
                        <img id="s3" title="somewhat satisfied 3/5" height="30" width="30" src="~/img/hollowStar.png" />
                        <img id="s4" title="satisfied 4/5" height="30" width="30" src="~/img/hollowStar.png" />
                        <img id="s5" title="extremely satisfied 5/5" height="30" width="30" src="~/img/hollowStar.png" />

                    </div>

                    <div>

                        <textarea rows="5" cols="90" id="review"> </textarea>
                        <br /> <br />
                        <p id="hPp"> </p>
                    </div>
                    <input type="button" id="post" value="Post It" style="margin-left: 630px; margin-top: 20px; background-color: #577492; color: #D4D8D1" />

                </div>

            </div>

        </div>
    </div>


    <div>

        <div class="row">
            <div class="col-md-7">
                <h3 style="margin-top: 45px; color: #577492"> @sL.Count Reviews </h3>
            </div>

            @if(sL.Count > 0)
            {
                
            <div class="col-md-3" style="font-size: small; margin-top: 35px">
                <br />

                <br />
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="rev">Order By <b class="caret"></b></a>
                <ul style="list-style:none" class="dropdown-menu" id="revList">
                    <li><a id="new">Latest Reviews</a></li>
                    <li><a id="old">Oldest Reviews</a></li>
                    <li><a id="high">Highest Rating Reviews</a></li>
                    <li><a id="low">Lowest Rating Reviews</a></li>
                </ul>

                <script>
                    $(document).ready(function () {
                        $('#new').click(function () {
                            $('#pP').empty();
                            $('#pP').show();
                            $('#pP').load('tagRev/@sId');
                        });

                        $('#old').click(function () {
                            $('#oByDivt1').empty();
                            $('#oByDivt1').show();
                            $('#oByDivt1').load('tagRevOld/@sId');
                        });

                        $('#high').click(function () {
                            $('#oByDivt1').empty();
                            $('#oByDivt1').show();
                            $('#oByDivt1').load('tagRevHigh/@sId');
                        });

                        $('#low').click(function () {
                            $('#oByDivt1').empty();
                            $('#oByDivt1').show();
                            $('#oByDivt1').load('tagRevLow/@sId');
                        });
                    });
                </script>

                <br />
            </div>
            }
        </div>

        <div>

        </div>

    </div>

    <div id="oByDivt1">
        @for (var i = 0; i < sL.Count; i++)
        {
            int ttdd = sL.ElementAt(i).User.userId;
            String ttddcc = sL.ElementAt(i).User.userId + "ttddcc";
            <div style="width:600px ; margin-top:15px" class="row">

                <div class="col-md-7">
                    <img height="70" width="70" src="@sL.ElementAt(i).User.userProfilePic" /> <br />
                    <a id="@ttddcc" style="color:#686161; font-size:medium; font-family:cursive"> @sL.ElementAt(i).User.FirstName @sL.ElementAt(i).User.LastName </a> wrote to @sL.ElementAt(i).TagStore.StoreName on @sL.ElementAt(i).date <br />

                    <script>
                $(document).ready(function () {
                    $('#@ttddcc').click(function () {
                        $('#sideBar').hide();
                        $('#userM').empty();
                        $('#userM').show();
                        $('#userM').load('userProfile/' + ttdd);
                    });
                });
                    </script>

                </div>
                <div class="col-md-5">
                    <p style="color:#262222; font-size:large; font-style:italic">
                        <br /> <br />
                        Rating :
                        @for (var j = 0; j < sL.ElementAt(i).rating; j++)
                        {
                            <img height="20" width="20" src="~/img/star.png" />
                        }
                        @for (var k = sL.ElementAt(i).rating; k < 5; k++)
                        {
                            <img height="20" width="20" src="~/img/hollowStar.png" />
                        }
                        <br /> <br />
                    </p>
                </div>
                <div>
                    <br />
                    @sL.ElementAt(i).review
                    <br />
                </div>
            </div>
            <br />
        }
    </div>
</div>



<script>

    $(document).ready(function () {
        $('#hideThis').hide();
        $('#ss').mouseover(function () {
            $('#s1').attr("src", "../img/hollowStar.png");
            $('#s2').attr("src", "../img/hollowStar.png");
            $('#s3').attr("src", "../img/hollowStar.png");
            $('#s4').attr("src", "../img/hollowStar.png");
            $('#s5').attr("src", "../img/hollowStar.png");

        });
        var rat = 0;
        $('#s1').mouseover(function () {
            $('#s1').attr("src", "../img/star.png");
            $('#s2').attr("src", "../img/hollowStar.png");
            $('#s3').attr("src", "../img/hollowStar.png");
            $('#s4').attr("src", "../img/hollowStar.png");
            $('#s5').attr("src", "../img/hollowStar.png");
            rat = 1;
        });

        $('#s2').mouseover(function () {
            $('#s1').attr("src", "../img/star.png");
            $('#s2').attr("src", "../img/star.png");
            $('#s3').attr("src", "../img/hollowStar.png");
            $('#s4').attr("src", "../img/hollowStar.png");
            $('#s5').attr("src", "../img/hollowStar.png");
            rat = 2;
        });

        $('#s3').mouseover(function () {
            $('#s1').attr("src", "../img/star.png");
            $('#s2').attr("src", "../img/star.png");
            $('#s3').attr("src", "../img/star.png");
            $('#s4').attr("src", "../img/hollowStar.png");
            $('#s5').attr("src", "../img/hollowStar.png");
            rat = 3;
        });

        $('#s4').mouseover(function () {
            $('#s1').attr("src", "../img/star.png");
            $('#s2').attr("src", "../img/star.png");
            $('#s3').attr("src", "../img/star.png");
            $('#s4').attr("src", "../img/star.png");
            $('#s5').attr("src", "../img/hollowStar.png");
            rat = 4;
        });

        $('#s5').mouseover(function () {
            $('#s1').attr("src", "../img/star.png");
            $('#s2').attr("src", "../img/star.png");
            $('#s3').attr("src", "../img/star.png");
            $('#s4').attr("src", "../img/star.png");
            $('#s5').attr("src", "../img/star.png");
            rat = 5;
        });

        $('#post').click(function () {
            var uu = $('#userII').val();
            var ssii = $('#storeII').val();
            if (uu != 0) {
                var ra = rat;
                var review = $('#review').val();

                $.getJSON("/Home/postTagReview?userId=" + uu + "&" + "review=" + review + "&" + "sid=" + ssii + "&" + "rating=" + ra, function (data) {
                    {
                        $('#hPp').hide();
                        $('#review').val("");
                        $('#s1').attr("src", "../img/hollowStar.png");
                        $('#s2').attr("src", "../img/hollowStar.png");
                        $('#s3').attr("src", "../img/hollowStar.png");
                        $('#s4').attr("src", "../img/hollowStar.png");
                        $('#s5').attr("src", "../img/hollowStar.png");

                        $('#tSR').empty();
                        $('#tSR').show();
                        $('#tSR').load('tagRev/' + ssii);
                    }

                })
            }
            else {

                //$('#sideBar').hide();
                //$('#userM').empty();
                //$('#userM').show();
                //$('#userM').load('signIn');
                $('#hPp').empty();
                $('#hPp').show();
                $('#review').val("");
                $('#s1').attr("src", "../img/hollowStar.png");
                $('#s2').attr("src", "../img/hollowStar.png");
                $('#s3').attr("src", "../img/hollowStar.png");
                $('#s4').attr("src", "../img/hollowStar.png");
                $('#s5').attr("src", "../img/hollowStar.png");
                $('#hPp').append('Please SignIn to post a review.');
            }
        });


    });

</script>
